<a href="https://colab.research.google.com/github/arath005/CSC221_arath005/blob/main/Assignment6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
cars = ['audi', 'bmw', 'subaru', 'toyota']

for car in cars:
  if car == 'bmw':
    print(car.upper())
  else:
    print(car.title())

Audi
BMW
Subaru
Toyota

In [3]:
car = 'bmw'
car == 'bmw'

True

In [4]:
car = 'audi'
car == 'bmw'

False

In [7]:
requested_topping = 'mushrooms'

if requested_topping != 'anchovies':
  print('Hold the anchovies!')

Hold the anchovies!

In [15]:
age_0 = 22
age_1 = 18
age_0 >= 21 or age_1 >= 21
age_0 = 18
(age_0 >= 21) or (age_1 >= 21)

False

In [18]:
requested_toppings = ['mushrooms', 'onions', 'pineapple']
'mushrooms' in requested_toppings

'pepperoni' in requested_toppings

False

In [20]:
banned_users = ['andrew', 'carolina', 'david']
user = 'marie'
if user not in banned_users:
  print(f"{user.title()}, you can post a response if you wish")

Marie, you can post a response if you wish

In [22]:
game_active = True
can_edit = False

5-1
5-2

In [24]:
car = 'camaro'
print("Is car == 'camaro'? I predict True.")
print(car == 'camaro')

print("\nIs car == 'audi'? I predict False")
print(car == 'audi')

Is car == 'camaro'? I predict True.
True

Is car == 'audi'? I predict False
False

In [25]:
car = 'bmw'
print("Is car == 'bmw'? I predict True.")
print(car == 'bmw')

print("\nIs car == 'toyota'? I predict False")
print(car == 'toyota')

Is car == 'bmw'? I predict True.
True

Is car == 'toyota'? I predict False
False

In [28]:
food = 'pizza'
print("Is food == 'pizza'? I predict True.")
print(food == 'pizza')

print("\nIs food == 'pear'? I predict False")
print(food == 'pear')

Is food == 'pizza'? I predict True.
True

Is food == 'pear'? I predict False
False

In [30]:
food = 'hotdog'
print("Is food == 'hotdog'? I predict True.")
print(food == 'hotdog')

print("\nIs food == 'apple'? I predict False")
print(food == 'apple')

Is food == 'hotdog'? I predict True.
True

Is food == 'apple'? I predict False
False

In [32]:
food = 'hamburger'
print("Is food == 'hamburger'? I predict True.")
print(food == 'hamburger')

print("\nIs food == 'cheese'? I predict False")
print(food == 'cheese')

Is food == 'hamburger'? I predict True.
True

Is food == 'cheese'? I predict False
False

In [44]:
car = 'camaro'
print(car == 'audi')
print(car == 'camaro')

False
True

In [46]:
cars = ['camaro', 'bmw', 'audi']
for car in cars:
  if car == 'bmw':
    print(True)
  else:
    print(False)

False
True
False

In [49]:
cars = ['camaro', 'bmw', 'audi']
for car in cars:
  if car == 'toyota':
    print(True)
  else:
    print(False)

False
False
False

In [55]:
cars = 'camaro'
cars2 = 'toyota'
if cars == ('camaro') and cars2 == ('toyota'):
  print(True)
else:
  print(False)

True

5-3
5-6

In [60]:
alien_color = 'green'
if alien_color == 'green':
  print('You gained 5 points')

You gained 5 points

In [69]:
age = 30
if age < 2:
  print('You are a baby.')
elif age >= 2 and age < 4:
  print('You are a toddler.')
elif age >= 4 and age < 13:
  print('You are a kid.')
elif age >= 13 and age < 20:
  print('You are a teenager.')
elif age >= 20 and age < 60:
  print('You are an adult.')
else:
  print('You are an elder')

You are an adult.

5-13
Not really a problem but i made a code that counts the amount of vowels used. I know we hav ent went over input really in this class but we used it in the lab class so i thought i could use it here

In [77]:
a_count = 0
e_count = 0
i_count = 0
o_count = 0
u_count = 0

user_input = input("Enter a string: ")

user_input = user_input.lower()

for char in user_input:
    if char == 'a':
        a_count += 1
    elif char == 'e':
        e_count += 1
    elif char == 'i':
        i_count += 1
    elif char == 'o':
        o_count += 1
    elif char == 'u':
        u_count += 1

print("Number of 'a' in the string:", a_count)
print("Number of 'e' in the string:", e_count)
print("Number of 'i' in the string:", i_count)
print("Number of 'o' in the string:", o_count)
print("Number of 'u' in the string:", u_count)

Enter a string: hello guys i am very bored today
Number of 'a' in the string: 2
Number of 'e' in the string: 3
Number of 'i' in the string: 1
Number of 'o' in the string: 3
Number of 'u' in the string: 1