<a href="https://colab.research.google.com/github/arath005/CSC221_arath005/blob/main/Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
magicians = ['alice', 'david', 'caroline']
for magician in magicians:
  print(magician)

alice
david
caroline

In [6]:
magicians = ['alice', 'david', 'caroline']
for magician in magicians:
  print(f"{magician.title()}, that was a great trick!")
  print(f"I cant wait for your next trick, {magician.title()}.\n")

print("Thank your, everyone. That was a great magic show.")

Alice, that was a great trick!
I cant wait for your next trick, Alice.

David, that was a great trick!
I cant wait for your next trick, David.

Caroline, that was a great trick!
I cant wait for your next trick, Caroline.

Thank your, everyone. That was a great magic show

4-1
4-2

In [13]:
tops = ["pepperoni", "meatball", "mushroom"]
for top in tops:
  print('I love', top, 'pizza.')
print('I really love pizza!')

I love pepperoni pizza
I love meatball pizza
I love mushroom pizza
I really love pizza!

In [16]:
pets = ['dog', 'cat', 'duck']
for pet in pets:
  print('A', pet, 'would make a great pet.')
print('All of these animals are very fluffy and like to be pet')

A dog would make a great pet.
A cat would make a great pet.
A duck would make a great pet.
All of these animals are very fluffy and like to be pet

In [19]:
for value in range(1, 6):
  print(value)

1
2
3
4
5

In [21]:
numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

In [49]:
even_numbers = list(range(2, 11, 2))
print(even_numbers)

[2, 4, 6, 8, 10]

In [29]:
squares = []
for value in range(1, 11):
  squares.append(value**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [34]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
min(digits)
max(digits)
sum(digits)

45

In [35]:
squares = [value**2 for value in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

4-3
4-4 said notebook limit was too small didnt know how to fix
4-5
4-6
4-7
4-9

```
# This is formatted as code
```

In [37]:
digs = []
for value in range(1,21):
  digs.append(value)
print(digs)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [43]:
digs = []
for value in range(1,1000001):
  digs.append(value)
print(digs)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [44]:
digs = []
for value in range(1,1000001):
  digs.append(value)
min(digs)
max(digs)
sum(digs)

500000500000

In [51]:
odds = list(range(1, 21, 2))
print(odds)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [52]:
odds = list(range(3, 31, 3))
print(odds)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [54]:
num = [value**3 for value in range(1, 11)]
print(num)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [61]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[-3:])

['michael', 'florence', 'eli']

In [62]:
print('here are the first three players on my team:')
for player in players[:3]:
  print(player.title())

here are the first three players on my team:
Charles
Martina
Michael

In [65]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]

my_foods.append('cannoli')
friend_foods.append('ice cream')

print('My favorite foods are:')
print(my_foods)

print("\nMy frien's favorite foods are:")
print(friend_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake', 'cannoli']

My frien's favorite foods are:
['pizza', 'falafel', 'carrot cake', 'ice cream']

4-10
4-11

In [74]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print('The first three items in the list are:')
print(players[:3])
print('The middle three items in the list are:')
print(players[1:4])
print('The last three items in the list are:')
print(players[2:])

The first three items in the list are:
['charles', 'martina', 'michael']
The middle three items in the list are:
['martina', 'michael', 'florence']
The last three items in the list are:
['michael', 'florence', 'eli']

In [76]:
tops = ["pepperoni", "meatball", "mushroom"]
friend_pizzas = tops[:]
tops.append('ranch')
friend_pizzas.append('pineapple')
for top in tops:
  print('My favorite pizzas are', top)
for top in friend_pizzas:
  print('My friends favorite pizzas are' , top)

My favorite pizzas are pepperoni
My favorite pizzas are meatball
My favorite pizzas are mushroom
My favorite pizzas are ranch
My friends favorite pizzas are pepperoni
My friends favorite pizzas are meatball
My friends favorite pizzas are mushroom
My friends favorite pizzas are pineapple

In [77]:
dimensions = (200, 50)
print(dimensions[0])
print(dimensions[1])

200
50

In [80]:
dimensions = (200, 50)
for dimension in dimensions:
  print(dimension)

200
50

In [82]:
dimensions = (200, 50)
print("Original dimensions:")
for dimension in dimensions:
  print(dimension)

dimensions = (400, 100)
print("\nModified dimensions:")
for dimension in dimensions:
  print(dimension)

Original dimensions:
200
50

Modified dimensions:
400
100

4-13

In [83]:
foods = ('pizza', 'apple', 'cheese', 'chips', 'cake')
for food in foods:
  print(food)

pizza
apple
cheese
chips
cake

In [84]:
foods = ('pizza', 'apple', 'cheese', 'chips', 'cake')
foods[0] = ('pie')
for food in foods:
  print(food)

TypeError: ignored

In [88]:
foods = ('pizza', 'apple', 'cheese', 'chips', 'cake')
print('Original Menu:')
for food in foods:
  print(food)
foods = ('pizza', 'apple', 'cheese', 'fries', 'hamburger')
print('New Menu:')
for food in foods:
  print(food)

Original Menu:
pizza
apple
cheese
chips
cake
New Menu:
pizza
apple
cheese
fries
hamburger

In [102]:
def factorial(n):
  for value in range(1, n):

    print

In [207]:
def factorial(n):
  my_list = []
  for value in (range(1, n+1)):
    my_list.append(value)
  product = 1
  for x in my_list:
    product *= x
  return product

In [209]:
def special_factorial(n):
  my_list = []
  for value in (range(1, n+1)):
    my_list.append(value)
  product = 1
  if n >=4:
    my_list.remove(4)
  if n >=13:
    my_list.remove(13)
  if n >=22:
    my_list.remove(22)
  for x in my_list:
    product *= x
  return product

In [211]:
print(special_factorial(5))
print(special_factorial(10))

30
907200