<a href="https://colab.research.google.com/github/arath005/CSC221_arath005/blob/main/Assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

In [2]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[0])

trek

In [3]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[0].title())

Trek

In [4]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[1])
print(bicycles[3])

cannondale
specialized

In [5]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[-1])

specialized

In [6]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
message = "My first bicycle was a " + bicycles[0].title() + "."
print(message)

My first bicycle was a Trek.

In [ ]:
names = ["Alice", "Bob", "Charlie", "David", "Eve"]

for name in names:
    print(name)

Alice
Bob
Charlie
David
Eve

In [ ]:
names = ["Alice", "Bob", "Charlie", "David", "Eve"]

for name in names:
    print("hello " + name + " how are you?")

hello Alice how are you?
hello Bob how are you?
hello Charlie how are you?
hello David how are you?
hello Eve how are you?

In [ ]:
trans = ["car", "airplane", "bike"]

for tran in trans:
  print('I would like to own a ' + tran)

I would like to own a car
I would like to own a airplane
I would like to own a bike

In [7]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
motorcycles[0] = 'ducati'
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']

In [8]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
motorcycles.append('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']

In [9]:
motorcycles = []
motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [11]:
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.insert(0, 'ducati')
print(motorcycles)

['ducati', 'honda', 'yamaha', 'suzuki']

In [12]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
del motorcycles[0]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']

In [13]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
del motorcycles[1]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'suzuki']

In [14]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
popped_motorcycle = motorcycles.pop()
print(motorcycles)
print(popped_motorcycle)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki

In [15]:
motorcycles = ['honda', 'yamaha', 'suzuki']
last_owned = motorcycles.pop()
print("The last motorcycle I owned was a " + last_owned.title() + ".")

The last motorcycle I owned was a Suzuki.

In [16]:
motorcycles = ['honda', 'yamaha', 'suzuki']
first_owned = motorcycles.pop(0)
print('The first motorcycle I owned was a ' + first_owned.title() + '.')

The first motorcycle I owned was a Honda.

In [17]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)
motorcycles.remove('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

In [18]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)
too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print("\nA " + too_expensive.title() + " is too expensive for me.")

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

A Ducati is too expensive for me.

In [ ]:
peeps = ['Dad', 'Mom', 'Brother']
for peep in peeps:
  print('I would like to formally invite you, ' + peep + ', to join us in dinner at our house on this fine evening.')

I would like to formally invite you, Sister, to join us in dinner at our house on this fine evening.
I would like to formally invite you, Mom, to join us in dinner at our house on this fine evening.
I would like to formally invite you, Brother, to join us in dinner at our house on this fine evening.

In [ ]:
peeps = ['Sister', 'Mom', 'Brother']
for peep in peeps:
  print('I would like to formally invite you, ' + peep + ', to join us in dinner at our house on this fine evening.')
  print('Dad can not make it')

I would like to formally invite you, Sister, to join us in dinner at our house on this fine evening.
Dad can not make it
I would like to formally invite you, Mom, to join us in dinner at our house on this fine evening.
Dad can not make it
I would like to formally invite you, Brother, to join us in dinner at our house on this fine evening.
Dad can not make it

In [ ]:
peeps = ['Dad', 'Mom', 'Brother', 'Jake', 'Dave']
for peep in peeps:
  print('I would like to formally invite you, ' + peep + ', to join us in dinner at our house on this fine evening.')
print('I found a bigger table')

I would like to formally invite you, Dad, to join us in dinner at our house on this fine evening.
I would like to formally invite you, Mom, to join us in dinner at our house on this fine evening.
I would like to formally invite you, Brother, to join us in dinner at our house on this fine evening.
I would like to formally invite you, Jake, to join us in dinner at our house on this fine evening.
I would like to formally invite you, Dave, to join us in dinner at our house on this fine evening.
I found a bigger table

In [25]:
peeps = ['Dad', 'Mom', 'Brother', 'Jake', 'Dave']
while len(peeps) > 2:
  popped_item = peeps.pop()
  print("Im sorry to inform you, " + popped_item + ', that you have been uninvited')

for peep in peeps:
  print('I would like to formally invite you, ' + peep + ', to join us in dinner at our house on this fine evening.')
print('I can only invite 2 of you for dinner')
del peeps
peeps = ("")
print(peeps)

Im sorry to inform you, Dave, that you have been uninvited
Im sorry to inform you, Jake, that you have been uninvited
Im sorry to inform you, Brother, that you have been uninvited
I would like to formally invite you, Dad, to join us in dinner at our house on this fine evening.
I would like to formally invite you, Mom, to join us in dinner at our house on this fine evening.
I can only invite 2 of you for dinner

In [26]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [27]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort(reverse=True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

In [28]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print("Here is the original list:")
print(cars)
print("\nHere is the sorted list:")
print(sorted(cars))
print("\nHere is the original list again:")
print(cars)

Here is the original list:
['bmw', 'audi', 'toyota', 'subaru']

Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

Here is the original list again:
['bmw', 'audi', 'toyota', 'subaru']

In [29]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)
cars.reverse()
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

In [30]:
locations = ['himalaya', 'andes', 'tierra del fuego', 'labrador', 'guam']

print("Original order:")
print(locations)

print("\nAlphabetical:")
print(sorted(locations))

print("\nOriginal order:")
print(locations)

print("\nReverse alphabetical:")
print(sorted(locations, reverse=True))

print("\nOriginal order:")
print(locations)

print("\nReversed:")
locations.reverse()
print(locations)

print("\nOriginal order:")
locations.reverse()
print(locations)

print("\nAlphabetical")
locations.sort()
print(locations)

print("\nReverse alphabetical")
locations.sort(reverse=True)
print(locations)

Original order:
['himalaya', 'andes', 'tierra del fuego', 'labrador', 'guam']

Alphabetical:
['andes', 'guam', 'himalaya', 'labrador', 'tierra del fuego']

Original order:
['himalaya', 'andes', 'tierra del fuego', 'labrador', 'guam']

Reverse alphabetical:
['tierra del fuego', 'labrador', 'himalaya', 'guam', 'andes']

Original order:
['himalaya', 'andes', 'tierra del fuego', 'labrador', 'guam']

Reversed:
['guam', 'labrador', 'tierra del fuego', 'andes', 'himalaya']

Original order:
['himalaya', 'andes', 'tierra del fuego', 'labrador', 'guam']

Alphabetical
['andes', 'guam', 'himalaya', 'labrador', 'tierra del fuego']

Reverse alphabetical
['tierra del fuego', 'labrador', 'himalaya', 'guam', 'andes']

In [31]:
peeps = ['Dad', 'Mom', 'Brother', 'Jake', 'Dave']

for peep in peeps:
    print('I would like to formally invite you, ' + peep + ', to join us in dinner at our house on this fine evening.')

print('I found a bigger table.')

number_of_guests = len(peeps)
print(f"We are inviting {number_of_guests} people to dinner.")

I would like to formally invite you, Dad, to join us in dinner at our house on this fine evening.
I would like to formally invite you, Mom, to join us in dinner at our house on this fine evening.
I would like to formally invite you, Brother, to join us in dinner at our house on this fine evening.
I would like to formally invite you, Jake, to join us in dinner at our house on this fine evening.
I would like to formally invite you, Dave, to join us in dinner at our house on this fine evening.
I found a bigger table.
We are inviting 5 people to dinner.

In [32]:
countries = ['USA', 'Canada', 'Australia', 'Germany', 'Japan']
print("Original List:", countries)

countries.append('France')
print("After Append:", countries)

countries.insert(2, 'Brazil')
print("After Insert:", countries)

countries.remove('Germany')
print("After Remove:", countries)

popped_country = countries.pop()
print("Popped Country:", popped_country)
print("After Pop:", countries)

countries.sort()
print("After Sort:", countries)

countries.reverse()
print("After Reverse:", countries)

list_length = len(countries)
print("List Length:", list_length)

smallest_country = min(countries)
largest_country = max(countries)
print("Smallest Country:", smallest_country)
print("Largest Country:", largest_country)

Original List: ['USA', 'Canada', 'Australia', 'Germany', 'Japan']
After Append: ['USA', 'Canada', 'Australia', 'Germany', 'Japan', 'France']
After Insert: ['USA', 'Canada', 'Brazil', 'Australia', 'Germany', 'Japan', 'France']
After Remove: ['USA', 'Canada', 'Brazil', 'Australia', 'Japan', 'France']
Popped Country: France
After Pop: ['USA', 'Canada', 'Brazil', 'Australia', 'Japan']
After Sort: ['Australia', 'Brazil', 'Canada', 'Japan', 'USA']
After Reverse: ['USA', 'Japan', 'Canada', 'Brazil', 'Australia']
List Length: 5
Smallest Country: Australia
Largest Country: USA

In [33]:
my_list = [1, 2, 3, 4, 5]

try:
    value = my_list[10]
    print("Value at index 10:", value)
except IndexError as e:
    print(f"IndexError: {e}")

IndexError: list index out of range

In [34]:
cubes_of_multiples_of_seven = [num ** 3 for num in range(60, 86) if num % 7 == 0]

print(cubes_of_multiples_of_seven)

[250047, 343000, 456533, 592704]

In [35]:
input_values = [40, 50, 120, -8, 6]

result_values = [7.4 * x + 51 for x in input_values]

print(result_values)

[347.0, 421.0, 939.0, -8.200000000000003, 95.4]